/* 1440 */
body {
  font-family: "Inter", sans-serif;
}
.conteiner {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 78px;
}
/******header*****/
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: inherit;
  width: inherit;
  padding: 26px 120px;
  background-color: #402101;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger,
.xmark,
.header-back-button,
.icon-320 {
  display: none;
}
.menu-items {
  display: flex;
  column-gap: 60px;
}
.menu-items-active {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #d5906e;
}
.menu-items-inactive {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.header-right-side {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.sign-in {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.header-buy-button,
.logout-button,
.header-back-button {
  background-color: #402101;
  border: none;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
}
.header-buy-button:hover {
  background-color: #6a3f20;
}
.logout-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.logout-button {
  display: none;
}
.logout-text {
  display: inline-block;
}
.logout-button img {
  width: 20px;
  height: 20px;
}

/*****home-cover-section*****/
.home-cover-section {
  height: 560px;
  top: 96px;
  background-image: url("../images/main-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-cover-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-shadow: 4px 4px 2px #581504;
}

.shop-now-button {
  width: 168px;
  height: 48px;
  top: 96px;
  left: 158px;
  opacity: 1;
  border-radius: 10px;
  border-width: 2px;
  border: 2px solid #b53b1b;
  color: #b53b1b;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
  box-shadow: 0px 4px 4px 0px #581504;

}
.shop-now-button:hover {
  background-color: #ffc1a8;
}
/*****home-products-section*****/
.home-products-section {
  background-color: #ea904f;
  padding: 120px 32px;
}
.home-header {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}
.home-product-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  scroll-snap-type: x mandatory;
}
.home-product-card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  max-width: 326px;
  min-height: 314px;
  max-height: 314px;
  flex: 0 0 300px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 16px 114px 16px;
}
.home-product-card:hover {
  background-color: #eed8b7;
}
.price-and-button {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
}
.product-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #b53b1b;
}
.price-label {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0%;
  color: #b53b1b;
  margin-top: 15px;
}
.add-button {
  width: 64px;
  height: 32px;
  left: 230px;
  opacity: 1;
  border-radius: 8px;
  color: #ffffff;
  background-color: #b53b1b;
  border: none;
  padding: 6px 19px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
}
.add-button:hover {
  background-color: #d96a47;
}
/* #shadow {
  box-shadow: 0px 10px 5px 0px #000000;
} */

/*****footer*****/
footer {
  width: 100%;
  background: #402101;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 24px;
}

footer ul li a:hover {
  opacity: 0.7;
}

.social-media-icon,
.social-media-icon + li,
.social-media-icon + li + li {
  display: inline-block;
  margin-right: 24px;
}

footer ul img {
  height: 24px;
  vertical-align: middle;
  margin-top: 42px;
}

.icon-header {
  width: 240px;
  height: auto;
  display: block;
  margin-top: -20px;
}

.footer-call-email-address-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-call-email-address-container address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-style: normal;
}

.footer-call-email-address {
  color: #e7e7e7;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: opacity 0.2s ease;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 24px;
}

.footer-call-email-address:hover {
  opacity: 0.7;
}

.footer-call-email-address img {
  width: 18px;
  height: 18px;
}
.social-media-icon {
  display: inline-block;
  column-gap: 24px;
}

/*****artworks-page*****/
.artworks-section {
  background-color: #ea904f;
  padding: 120px;
}
.artworks-title-sort-section {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 72px;
}
.artworks-section-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 72px;
}
.mobile-sort-button {
  display: none;
}
.sort-button {
  width: 160;
  height: 45;
  opacity: 1;
  top: 2px;
  left: 1040px;
  border-radius: 5px;
  border-width: 2px;
  border: 2px solid #b53b1b;
  padding: 8px 21px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
}
.sort-button:hover {
  background-color: #eed8b7;
}
.cards-section {
  /* background-color: #FFFFFF; */
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
  /* padding: 16px 16px 99px 16px; */
}
.artworks-card-box {
  background-color: #ffffff;
  width: 384px;
  padding: 16px;
  border-radius: 8px;
}
.artworks-card-box:hover {
  background-color: #eed8b7;
}
.artworks-card-image {
  margin-bottom: 16px;
}
.artworks-card-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #b53b1b;
  margin-bottom: 8px;
}
.artworks-price {
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #402101;
  margin-top: 15px;
  animation-name: price-color-change;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes price-color-change {
  from {
    background-color: #ff543e;
  }
  to {
    background-color: white;
  }
}
.price-buy {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

/*****page-button-section*****/
.paging-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}

.page-button, .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: transparent;
    border-radius: 2px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.page-button.active {
    background:#B53B1B;
    border-color:#FFFFFF;
    color: #fff;
}

/* .page-button-section {
  display: flex;
  align-items: center;
}
.page-button,
.active-page-button,
.inactive-page-button {
  width: 56;
  height: 56;
  opacity: 1;
  left: 111px;
  border-width: 2px;
  border: 2px solid #ffffff;
}
.page-number {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
} */

/* .active-page-button {
    color: #B53B1B;
}
.inactive-page-button {
    color: #EA904F;
} */

/*****contact*****/
.contact-container {
  width: min(100%, 1440px);
  margin: auto;
  padding: 140px 201px;
  background-image: url(../images/contact-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-section {
  background-color: #402101e5;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  column-gap: 40px;
}
/*form-section*/
.form-section {
  width: 440px;
}
h1 {
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.inputs-container {
  display: flex;
  column-gap: 60px;
}
input {
  width: 100%;
  height: 40px;
  padding-inline: 11px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
}
.textarea-container {
  display: flex;
  flex-direction: column;
  row-gap: 74px;
}
textarea {
  width: 100%;
  height: 96px;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  resize: none;
}
.submit-button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #ff543e;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1;
}
.submit-button:hover {
  background-color: #ff6a57;
}
/*map-section*/
.map-section {
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 64px;
}
address {
  display: flex;
  column-gap: 72px;
}
iframe {
  width: 100%;
  height: 264px;
  border-radius: 10px;
}
